.wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-gap: 5px;
    border-radius: 10px;
    background-color: #dcf1f1;
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
    padding-bottom: 20px;
}

.header {
    text-align: center;
    grid-row-start: 1;
}

.header a {
    text-decoration: none;
}

.followers {
    margin: 10px 20px;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 120px);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}
