*{
    box-sizing: border-box;
}

.app-header, .app-footer {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
}

.app-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows:    50px auto 50px;
    justify-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.8) 0%, rgba(210,242,255,1) 29%, rgba(0,212,255,1) 100%);
}

.app-header {
    background-color: blue;

}

.app-header-fix {
    position: fixed;
     background-color: blue;
     width: 100%;
    height: 50px;
    z-index: 1;
 }

.app-content {
    width: 850px;
}

.app-footer {
    margin-top: 10px;
    background-color: black;
    width: 100%;
}
