.wrapper{
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.navbar{
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: blue;
    font-weight: bold;
}

.navbar a{
    text-decoration: none;
}
