.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 850px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.logo{
    grid-column-start: 1;
    justify-self: center;
}

.logo img{
    width: 30px;
}

.search{
    display: flex;
    padding-left: 10px;
}

.search input{
    border: none;
    outline: none;
}

.logout{
    color: aqua;
    display: flex;
    grid-column-start: 3;
    justify-self: end;
}

.logout button{
    margin-left: 20px;
}

.nav a{
    color: #6decec;
    text-decoration: none;
}
