.wrapper{
    width: 240px;
    padding: 5px;
    justify-self: center;
    align-self: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    border-radius: 10px;
    background-color: #dcf1f1;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper img{
    max-width: 90px;
}

.name{
    color: #2f211b;
    text-align: start;
    font-size: 12px;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: start;
    align-self: end;

}

.avatar{
    grid-row: span 2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.toDialogBTN{
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
    justify-self: end;
}
