.person {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatar {
    grid-column: 1;
    justify-self: center;
    padding-top: 20px;
    width: 150px;
    z-index: 0;
}

.avatar img {
    margin: 10px;
    width: 100%;
}

.name {
    padding-top: 20px;
    grid-column: 2;
    align-self: center;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.9) 0 5px 15px;
}
