.app-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows:    50px auto 40px;
    grid-template-columns: repeat(5,2fr);
}

.app-header {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 6;
}

.app-content {
    background-color: #6e98bc;
    grid-column-start: 2;
    grid-column-end: 5;
}

.app-footer {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 6;
}
